flask-cors>=5.0.1
gunicorn>=23.0.0
httptools>=0.6.4
langchain>=0.3.25
lazy_loader>=0.4
librosa>=0.8.1
msgpack>=1.1.2
nomic>=3.4.1
ollama>=0.4.8
praat-parselmouth>=0.4.6
pyngrok>=7.2.7
PySoundFile>=0.9.0.post1
setuptools>=78.1.1
soxr>=1.0.0
uvloop>=0.21.0
watchfiles>=1.0.5
websockets>=15.0.1
wheel>=0.45.1
